<br />
<hr /><br />
<div class="card-deck">
    <div class="card text-white <%= (data.typeValue == 1) ? 'bg-success' : 'bg-secondary' %> mb-3">
        <div class="card-header">Equilátero</div>
        <div class="card-body">
            <p class="card-text">Possui todos os lados iguais.</p>
        </div>
    </div>
    <div class="card text-white <%= (data.typeValue == 2) ? 'bg-success' : 'bg-secondary' %> mb-3">
        <div class="card-header">Isósceles</div>
        <div class="card-body">
            <p class="card-text">Possui pelo menos dois lados iguais.</p>
        </div>
    </div>
    <div class="card text-white <%= (data.typeValue == 3) ? 'bg-success' : 'bg-secondary' %> mb-3">
        <div class="card-header">Escaleno</div>
        <div class="card-body">
            <p class="card-text">Possui todos os lados diferentes.</p>
        </div>
    </div>
</div>
<div class="card text-white <%= (data.typeValue == 0) ? 'bg-danger' : 'bg-secondary' %> mb-3">
    <div class="card-header">Valor Inválido</div>
    <div class="card-body">
        <p class="card-text">Informe valores superior a "0".</p>
    </div>
</div>