<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../pageStruct/imports'); -%>
</head>

<body>
  <%- include('../pageStruct/navbar'); -%>

  <div class="container">
    <br /><br />
    <div class="row">
      <h1>Tipo do Triângulo</h1>
    </div>
    <br />
    <hr /><br />
    <form class="was-validated" action="/" method="POST">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationFirstMeasure">Primeira Medida</label>
          <input name="firstMeasure" type="number" class="form-control" id="validationFirstMeasure"
            placeholder="First name" value="<%= data.firstMeasure %>" required>
          <div class="invalid-feedback">
            Por Favor, digite um valor.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationSecondMeasure">Segunda Medida</label>
          <input name="secondMeasure" type="number" class="form-control" id="validationSecondMeasure"
            placeholder="Last name" value="<%= data.secondMeasure %>" required>
          <div class="invalid-feedback">
            Por Favor, digite um valor.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationThirdMeasure">Terceira Medida</label>
          <div class="input-group">
            <input name="thirdMeasure" type="number" class="form-control" id="validationThirdMeasure"
              placeholder="Username" value="<%= data.thirdMeasure %>" aria-describedby="inputGroupPrepend3" required>
            <div class="invalid-feedback">
              Por Favor, digite um valor.
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <button class="btn btn-primary" type="submit">Validar</button>
    </form>

    <%- include('feedback'); -%>

  </div>

</body>

</html>